@{
    ViewBag.Title = "Contacto";
}
<div class="jumbotron">
    <p style="text-align:center" class="lead"></p>
</div>
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<address>
    Villa Crespo<br />
    CABA, Argentina<br />
</address>

<address>
    <strong>Soporte Tecnico:</strong>   <a href="mailto:motodeliverycomit@outlook.com">MotoDeliveryComit@outlook.com</a><br />
</address>