
@{
    ViewBag.Title = "Interfaz de usuario";
}

<h2>Interfaz</h2>

<div class="col-md-8">
    <div id="map" style="width:96%;height:520px;margin:14px;"></div>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAYTNn6hVbZXSFOGsWkgeNVRgkB2B77C0k&callback=initMap"
            async defer></script>
</div>

    <div>
<strong>Desde : </strong><input id="travelfrom" type="text" name="name" value="Av Corrientes, Buenos Aires" />
<br />
<strong>Hasta : </strong><input id="travelto" type="text" name="name" value="Av Cordoba, Buenos Aires" />
<input type="button" value="Calcular Ruta" onclick="initMap()" />

                                    </div>
<br />
<div>
    <div id="dvDistance">
    </div>
</div>

