<!DOCTYPE html>
<html>
<head>
    <title>Simple Map</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <style>
        /* Always set the map height explicitly to define the size of the div
        * element that contains the map. */
        #map {
            height: 75%;
        }
        /* Optional: Makes the sample page fill the window. */
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
    </style>
</head>
<body>
    <script>
        var map;
        function initMap() {
            var source, destination;
            var directionsDisplay = new google.maps.DirectionsRenderer;
            var directionsService = new google.maps.DirectionsService;
            map = new google.maps.Map(document.getElementById('map'), {
                center: { lat: -34.6131500, lng: -58.3772300 },
                zoom: 13,
                mapTypeId: 'roadmap',
                disableDefaultUI: true
            });

            google.maps.event.addDomListener(window, 'reload', function () {
                new google.maps.places.SearchBox(document.getElementById('travelfrom'));
                new google.maps.places.SearchBox(document.getElementById('travelto'));
                google.maps.DirectionsRenderer({ 'draggable': true });
            });

            directionsDisplay.setMap(map);

            source = document.getElementById("travelfrom").value;
            destination = document.getElementById("travelto").value;

            var request = {
                origin: source,
                destination: destination,
                travelMode: google.maps.TravelMode.DRIVING
            };

            directionsService.route(request, function (response, status) {
                if (status === google.maps.DirectionsStatus.OK) {
                    directionsDisplay.setDirections(response);
                } else {
                    window.alert('La pifiaste porque ' + status);
                }
            });

            var service = new google.maps.DistanceMatrixService();
            service.getDistanceMatrix({
                origins: [source],
                destinations: [destination],
                travelMode: google.maps.TravelMode.DRIVING,
                unitSystem: google.maps.UnitSystem.METRIC,
                avoidHighways: false,
                avoidTolls: false
            }, function (response, status) {
                var distance = response.rows[0].elements[0].distance.text;
                var duration = response.rows[0].elements[0].duration.value;
                var dvDistance = document.getElementById("dvDistance");
                duration = parseFloat(duration / 60).toFixed(2);
                dvDistance.innerHTML = "";
                dvDistance.innerHTML += "Distancia: " + distance + "<br />";
                dvDistance.innerHTML += "Tiempo: " + duration + " min";

            });
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAYTNn6hVbZXSFOGsWkgeNVRgkB2B77C0k&callback=initMap"
            async defer></script>

    <div class="row">
        <div class="col-md-12">
            <h2>Example 1 - simple distance between two points</h2>
            <p>
                This demonstrates getting and displaying the distance between two points
            </p>

            <div>
                <div>
                    Desde : <input id="travelfrom" type="text" name="name" value="Villa Crespo, Buenos Aires" />
                    Hasta : <input id="travelto" type="text" name="name" value="Estacion Constitucion, Buenos Aires" />
                    <input type="button" value="Calcular Ruta" onclick="initMap()" />

                </div>
                <br />
                <div>
                    <div id="dvDistance">
                    </div>
                </div>

            </div>

            <div id="map" style="min-height:750px"></div>
        </div>
    </div>
</body>
</html>