@{
    ViewBag.Title = "MOTO DELIVERY";
}
<head><link href="https://fonts.googleapis.com/css?family=Pattaya" rel="stylesheet">
</head>
<body>
<picture>
    <source media="(min-width: 601px)" srcset="~/Content/Logo_Moto.png">
    <source media="(max-width: 600px)" srcset="~/Content/Logo_Moto2.png">
    <img src="~/Content/Logo_Moto.png" alt="Moto-Delivery" style="width:100%;">
</picture>

<div class="row">
    <div class="col-md-4">
        <div class="container">
            <h2 align="center">Sobre Nosotros</h2>
            <p>
                <strong>MotoDelivery</strong> posee dos enfoques, el primero es facilitar el desplazamiento de paquetes por la ciudad
                y el segundo es brindar la oportunidad de obtener un ingreso adicional a todo aquel dueño de una moto.
            </p>
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse1"><strong>OBJETIVOS</strong></a>
                        </h4>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse">
                        <div class="panel-body">
                            Ser el nexo entre aquellos que tienen algo para enviar o recibir y los que pueden hacerlo por ellos.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse2"><strong>TARIFAS</strong></a>
                        </h4>
                    </div>
                    <div id="collapse2" class="panel-collapse collapse">
                        <div class="panel-body">
                            Pagas un minimo de $25 por 2 KM, y hasta $15 por cada KM adicional. Dias de lluvia el servicio tiene un costo adicional del 50 %
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse3"><strong>FAQ</strong></a>
                        </h4>
                    </div>
                    <div id="collapse3" class="panel-collapse collapse">
                        <div class="panel-body">
                            <strong>¿Que puedo llevar?</strong> <br />
                            Todo objeto (no vivo) que pese menos de 20 KG y quepa en una caja de 50 x 50 x 50 (cms de alto x ancho x fondo)
                            <br /><br />
                            <strong>¿Cuando puedo enviar o recibir algo?</strong><br />
                            Cuando gustes, siempre que haya una moto disponible para transportarlo.
                            <br /><br />
                            <strong>¿Cual es la distancia Maxima?</strong><br />
                            Al ser pensado para el área urbana o interurbana es de 10 KM.
                            <br /><br />
                            <strong>¿Es seguro el envio?</strong><br />
                            Contamos con un sistema que asegura el contenido de lo que envies y con los datos completos de quien lo transporta.
                            <br /><br />
                            <strong>¿Como pago?</strong><br />
                            Se paga en efectivo o tarjeta mediante una Clave unica al recibir lo que solicitaste.
                            <br /><br />
                            <strong>¿Puedo hacer envios si soy Moto Delivery?</strong><br />
                            Claro, tenes una interfaz distinta para cada uno.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div id="googleMap" style="width:96%;height:390px;margin:14px;"></div>

        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDZUj2QpFw1P8mS9dnWafEv2f7z9wQVXYQ&callback=myMap"></script>
    </div>
</div>
    </body>