@model Microsoft.AspNet.Identity.EntityFramework.IdentityRole
@{
    ViewBag.Title = "Add New Role";
}

    <h2>Crear Nuevo Rol de Usuario:</h2>
<div class="form-group ">
    @using (Html.BeginForm())
    {
        <p> Ingrese Nuevo Rol de Usuario:</p>

        @Html.EditorFor(m => m.Name, new { htmlAttributes = new { @class = "form-control" } })
        <input type="submit" value="Crear Rol" class="btn btn-default" />
    }
</div>