
@{
    ViewBag.Title = "Index";
}


@if (ViewBag.displayMenu == "Yes")
{
    <h1>Bienvenido Usuario Administrador. Ahora puede crear un Rol</h1>
    <h3>
        <li>@Html.ActionLink("Manage Role", "Index", "Role")</li>
        
    </h3>
}
else
{
    <h2>  Hola<strong>@ViewBag.Name</strong> @Html.ActionLink("Back to List", "Index") </h2>
}  

