@{
    ViewBag.Title = "Confirm Email";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
       Gracias por confirmar su correo. Por Favor haga @Html.ActionLink("click aquí para Iniciar Sesión", "Create", "UserDatas", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
