@{
    ViewBag.Title = "Gracias por confirmar su correo.";
}

<h2>@ViewBag.Title.</h2>
<br />
<div>
    <p>
       Por Favor haga @Html.ActionLink("Click aquí para Iniciar Sesión", "Create", "UserDatas", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
