@{
    ViewBag.Title = "Por favor revise su correo y confirme su usuario.";
}
<h2>@ViewBag.Title.</h2>
<br />
<p class="text-danger">
    <a href="@ViewBag.Link">Click aquí para confirmar tu Correo</a> @*Please change this code to register an email service in IdentityConfig to send an email.*@
    
</p>
