@{
    ViewBag.Title = "DEMO purpose Email Link";
}
<h2>@ViewBag.Title.</h2>
<p class="text-info">
    Por favor revise su correo y confirme haciendo click en el link.
    
</p>
<p class="text-danger">
   Haz click aquí para confirmar tu Correo <a href="@ViewBag.Link">link</a> @*Please change this code to register an email service in IdentityConfig to send an email.*@
    
</p>
